html,
body {
  height: 100%;
  width: 100%;
  background-color: #6951f0;
  color: white;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.last-ticket {
  background-color: #282828;
}

.last-ticket-number {
  font-size: 100px;
}

.last-ticket-desktop {
  font-size: 50px;
}

.other-ticket {
  font-size: 25px;
}

.other-desktop {
  font-size: 20px;
}

#view-last-ticket {
  font-size: 70px;
}
